/*font-family: 'Montserrat', sans-serif;
font-family: 'Inconsolata', monospace;*/

/*********** GENERAL ***********/

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f5f5f5;
  background-image: url(images/jonathan-bean-37632.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

#col-head1 {
  margin-top: 75px;
}


#nav-bar {
  margin-bottom: 0;
  padding: 0;
  border-bottom: solid thin black;
  background: lightslategray;
  color: darkslategray;
  font-size: 23px;
  font-family: 'Inconsolata', monospace;
}

#nav-bar a,
#nav-bar a:visited {
  color: darkslategray;
}

#nav-bar a:hover {
  color: white;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  float: right;

}

#nav-menu-button {
  position: absolute;
  top: 0;
  right: 0;
}

#current-page {
  color: white !important;
}

#logo {
  width: 15%;
  border-radius: 5%;
  -webkit-box-shadow: 1px 1px 2px;
  box-shadow: 1px 1px 2px;
}

.navbar-toggle {
  background: #fff;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: lightslategray;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  padding: 7px 5px -7px;
}

footer a,
footer a:hover,
footer a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: tomato;
}

footer p {
  padding: 10px 15px 0;
}

footer:hover {
  opacity: 1 !important;
}

/*********** INDEX **********/

#col-head1 {
  font-weight: bold;
  font-size: 50px;
}

#col-head2 {
  font-weight: bold;
  font-size: 40px;
}


#hero {
  margin: 30px auto 30px;
  background: rgba(250, 250, 250, .75);
  opacity: 0;
  -webkit-transition: opacity 5s ease-in;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

#hero.load {
  opacity: 1;
}

#welcome {
  margin-bottom: 25px;
  color: black !important;
  text-shadow: 2px 2px 2px cornflowerblue;
  font-size: 2.35rem;
}

#welcome-paragraph {
  margin-bottom: 30px;
  padding: 0 10px;
  font-size: 1.60rem;
}


.call-out {
  border-top: solid cornflowerblue 15px;
  border-bottom: solid cornflowerblue 10px;
  color: black;
  font-size: 2.15rem;
  font-family: 'Inconsolata', monospace;
}

#col-desc1,
#col-desc2,
#col-desc3 {
  font-size: 1.25rem
}

/*********** CITY SEARCH **********/

#city {
  margin-bottom: 25px;
  height: 40px;
  border: thin solid cornflowerblue;
  font-size: 20px;
}

#city-info {
  margin-top: 50px;
}

#weather-icon {
  float: left;
  margin: 5px 5px 0 25px;
}

#city-info h3 {
  font-weight: bold;
  font-size: 50px;
}

#city-div {
  margin: 25px auto;
  width: 60%;
  text-align: center;
}


#city-search-button {
  margin-bottom: 25px;
  height: 40px;
  font-weight: bold;
}

#city-error {
  margin: -25px auto 25px;
  width: 50%;
  background-color: seashell;
  color: tomato;
  text-align: center;
}

#show-weather {
  width: 100%;
  background: rgba(255, 255, 255, .40);
}

#show-weather p {
  margin: 0 25px;
  padding: 15px;
  color: black;
  font-size: 1.25rem;
}

#show-weather h3 {
  margin: 0 25px;
  padding: 15px;
  color: black;
  font-weight: bold;
  font-size: 1.50rem;
}

#show-weather h4 {
  margin: 0 25px;
  padding: 15px;
  color: black;
  font-size: 1.35rem;
}

/*********** FORECAST **********/

#days {
  margin-bottom: 25px;
  height: 40px;
  border: thin solid cornflowerblue;
  font-size: 20px;
}

table {
  background: #f5f5f5;
  text-align: center;
}

th {
  background: lightslategray;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: 'Inconsolata', monospace;
}
